.ec-pie-chart{
    width: 90%;
    height: 400px;
}
.ec-bar-chart{
    width: 90%;
    height: 400px;
}
.ec-cmp-chart{
    width: 90%;
    height: 450px;
}
.ec-event-time-chart{
    width: 90%;
    height: 450px;
}